@using ServicesProvider.Service
@using ServicesProvider.Models


@model UsersAdHomeViewModel

@{
    Layout = "_Layout";
}


@section Head {
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <title> HOME </title>

     <link href="~/css/reset.css" rel="stylesheet" media="screen" runat="server">
     <link href="~/css/headers.css" rel="stylesheet" media="screen" runat="server">
     <link href="~/css/index.css" rel="stylesheet" media="screen" runat="server">
 }

<body>
    <div class="main-content-con">
        <div class="section">
            <div class="banner-cont">
                <div class="banner-item">
                    <img src="~/images/money.png" alt="money">
                    <div class="banner-item-text">56,372 deal<br>completed</div>
                </div>
                <div class="banner-item">
                    <img src="~/images/user.png" alt="users">
                    <div class="banner-item-text">3,203 active<br>performers</div>
                </div>
                <div class="banner-item">
                    <img src="~/images/work.png" alt="users">
                    <div class="banner-item-text">5 years on<br>marketplace</div>
                </div>
            </div>
        </div>

        <div class="section section-category">
            <div class="category-cont">
                <div class="category-title">@Model.categoryViewName</div>
                <form class="category-select-cont" asp-controller="Home" asp-action="Index" method="post">
                    <button class="category-button" type="submit">Apply</button>
                    <select asp-for="curCategoryId" asp-items="Model.SelectList" class="category-select">
                        <option value="-1" selected="selected"> All categories</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="cards">
            @{
                foreach (var item in Model.allUsersAds)
                {
                    <div class="card-section">
                        <div class="card">
                            <div class="card-img">
                                <img src="@("~/ImagesAds/"+item.ImageName)" alt="card-img" asp-append-version="true">
                            </div>
                            <div class="card-title">@item.Name</div>
                            <div class="card-desc">@(item.ShortDesc ?? "There shoud")</div>
                            <div class="card-about">
                                <div class="card-category">@(item.Category.CategoryName ?? "No category name")</div>
                                <div class="card-username">@(item.OwnerUsername ?? "No username")</div>
                            </div>
                            <div class="card-footer">
                                <div class="card-price">@item.Price.ToString("C1")</div>
                                <a href="/Home/Item?id=@item.Id" class="card-button">VIEW</a>
                                <div class="card-publish-time">18:23<br>23.10.2021</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>

