
@model UsersAdHomeViewModel

<link href="~/css/reset.css" rel="stylesheet" media="screen" runat="server">
<link href="~/css/index.css" rel="stylesheet" media="screen" runat="server">


<div class="cards">
    @{
        foreach (var item in Model.allUsersAds)
        {
            <div class="card-section">
                <div class="card">
                    <div class="card-img">
                        <img src="@item.Img" alt="card-img">
                    </div>
                    <div class="card-title">@item.Name</div>
                    <div class="card-desc">@(item.ShortDesc ?? "No description")</div>
                    <div class="card-about">
                        <div class="card-category">@(item.Category.CategoryName ?? "No category name")</div>
                        <div class="card-username">@(item.OwnerUsername ?? "No username")</div>
                    </div>
                    <div class="card-footer">
                        <div class="card-price">@item.Price.ToString("C1")</div>
                        <a class="card-button">VIEW</a>
                        <div class="card-publish-time">18:23<br>23.10.2021</div>
                    </div>
                </div>
            </div>
        }
    }
</div>